*{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    margin:0;
    padding:0;
}
body{
    background-color: black;
    color: rgb(51, 153, 255);
}
nav{
    display:flex;
    height:5%;
    background-color: rgb(51, 153, 255);
    text-align: center;
}
nav a{
   padding:15px 20px;
   color:black;
   background-color: rgb(51, 153, 255);
}
#signedas{
    display:flex;
    margin-left:auto;
}
#signedas a{
    padding:15px 20px;
}
